body {
background-image: url(images/backgroundimage.png);
background-size: cover;
}

.nav-logo {
height: 30px;
width: 30px;
}

#menu {
padding: 700px 0;
width: 1000px;
}

.center-text {
text-align: center;
}

.center-me {
margin-left: auto;
margin-right: auto;
}

#coffee {
font-size: 100px;
color: violet;
}

#donuts {
font-size: 120px;
color: white;
}

#cookies {
font-size: 100px;
color: pink;
}

.carousel {
height: 500px;
width: 1000px;
}

.text-shadow {
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}

#table-title {
color: white;
}